@font-face {
  font-family: 'Neucha';
  src: url('./Neucha/Neucha.woff2') format('woff2'),
      url('./Neucha/Neucha.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: #404b62;
  --white: #ffffff;
  --accent: #d1432c;
  font-size: 16px;
}

body {
  background-color: var(--very-dark-blue);
  text-align: center;
  color: var(--white);
  font-family: "Neucha", sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-size: clamp(1.7rem, 2vw, 2.25rem);
  margin: 15px 0 20px;
}
h2 {
  font-size: clamp(1.5rem, 2vw, 2rem);

}
main{
  padding: 20px;
  margin: 0 auto;
}
.btn {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 10px;
  background:none;

  border: none; /* Убираем рамку */
  width: 100px; /* Ширина кнопки */
  height: 100px; /* Высота кнопки */
  cursor: pointer; 
  background-size: 100% 100%; /* Масштабирование изображения */
  
}
#rock-btn{
  background-image: url('./img/stone.png');
}
#paper-btn{
  background-image: url('./img/papers.png');  
}
#scissors-btn{
  background-image: url('./img/scissors.png');
}
#reset-game-btn{
  background-image: url('./img/restart.png');
  
}
.btn:hover {
  background-image: var(--golden-accent);
}

.rules-container {
  padding: 10px 0;
  margin: auto;
  border-radius: 15px;
  border: 5px solid var(--accent);
  background-color: var(--white);
  color: var(--very-dark-blue);
}

.rules-container ul {
  list-style-type: none;
}

.rules-container p {
  font-size: clamp(1, 2vw, 1.5rem);
  margin: 10px 0;
}

@media (min-width: 760px) {
  main,
  .rules-container {
    width: 60%;
  }
}

.score-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 0;
 
}
.score-container span{
  color: var(--accent);
  font-size: clamp(1.7rem, 2vw, 2.25rem);
}
.score {
  font-weight: 500;
}

.results-container {
  font-size: 1.3rem;
  margin: 15px 0;
}

#winner-msg {
  margin-top: 25px;
}

#reset-game-btn {
  display: none;
  margin: 20px auto;
}
